div.innexus-chatbot {
  background-color: whitesmoke;
  width: 280px;
  height: auto;
  display: block;
  position: fixed;
  padding-top: 25px;
  bottom: 20px;
  border-radius: 10px;
  right: -300px;
  z-index: 99999;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-height: 90vh;
  min-height: 55px;
  box-shadow: 0 0 32px rgba(55, 55, 55, 0.3);
  /*
  overflow-x: visible;
  overflow-y: scroll;
*/
  /*
  .location-container {
    padding: 0 20px 20px 20px;
    
    //location name titles
    p.location-name {
      text-align: left;
      border-bottom: 1px solid #333;
      margin-bottom: 0.8em;
      color: #333;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    ul.location-info {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
      
      li {
        display: inline-block;
        margin: 0 5% 0 0;
        border-radius: 5px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        text-decoration: none;
        padding: 2px 0 0 0;
        background-color: #f5f5f5;
        -webkit-box-shadow: 1px 1px 1px #eee;
        box-shadow: 1px 1px 1px #ddd;
        
        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
    
    p, a {
      display: block;
      margin: 0;
      text-align: center;
      text-decoration: none;
    }
    
    //changes for specific number of items with/without appt    
    &.two, &.three, &.appt_three {
      ul.location-info li {
        width: 47%;
      }
    }
    
    &.three, &.appt_two, &.appt_four {
      ul.location-info li {
        width: 30%;
      }
    }
    
    &.appt_two {
      ul.location-info li {
        margin: 0 5% 0 0;
        
        &:last-child {
          width: 60%;
        }
      }
    }
    
    &.appt_three {
      ul.location-info li {        
        &:nth-child(2) {
          margin-right: 0;
        }
      }
    }
    
    &.appt_four {
      ul.location-info li {        
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
    
    ul.location-info li {
      &:last-child {
        margin-right: 0;
      }
    }
    
    &.one, &.appt_one, &.appt_three, &.appt_four {
      ul.location-info li {
        &:last-child {
          width: 100%;
        }
      }
    }
    
    &.appt_three, &.appt_four {
      ul.location-info li {
        margin-bottom: 5%;
      }
    }
  }
*/
  /*
  &.shadow:after {
    width: 220px;
    height: 6px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    display: block;
    overflow: visible;
    visibility: visible;
    position: fixed;
    bottom: 20px;
    right: -220px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: '';
  }
*/
}
div.innexus-chatbot .chatbot-container {
  margin: 0 13px 8px 13px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: inherit;
  transition: all 0.4s ease;
  min-height: 308px;
}
div.innexus-chatbot .chatbot-container.grow {
  min-height: 375px;
}
div.innexus-chatbot .chatbot-container p.chatbot-response {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 55px;
}
div.innexus-chatbot .chatbot-container p.chatbot-response:nth-child(1) {
  min-height: 50px;
}
div.innexus-chatbot .chatbot-container a.chatbot-button {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: 0 0 5px 0;
}
div.innexus-chatbot .chatbot-container a.chatbot-button i {
  font-size: 0.8em;
}
div.innexus-chatbot .chatbot-container div.chatbot-button {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: 0 0 5px 0;
  cursor: pointer;
}
div.innexus-chatbot .chatbot-container div.chatbot-button i {
  font-size: 0.8em;
  position: relative;
  bottom: 1px;
}
div.innexus-chatbot .chatbot-container .chatbot-page {
  transform: translateX(110%);
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  border-radius: 10px;
}
div.innexus-chatbot .chatbot-container .chatbot-page .buttonsContainer {
  overflow: hidden;
  max-height: 176px;
}
div.innexus-chatbot .chatbot-container .chatbot-page .buttonsContainer > div.chatbot-button,
div.innexus-chatbot .chatbot-container .chatbot-page .buttonsContainer > a.chatbot-button {
  transition: all 0.3s ease;
  position: relative;
  transform: translateY(0px);
  white-space: nowrap;
}
div.innexus-chatbot .chatbot-container .chatbot-page .buttonsContainer.showMore > div.chatbot-button,
div.innexus-chatbot .chatbot-container .chatbot-page .buttonsContainer.showMore > a.chatbot-button {
  position: relative;
  transform: translateY(-180px);
}
div.innexus-chatbot .chatbot-container .chatbot-page .buttonsContainer.showMore div.chatbot-button.moreOptions,
div.innexus-chatbot .chatbot-container .chatbot-page .buttonsContainer.showMore div.chatbot-button.moreOptions {
  position: absolute;
  transform: translate(0, 0);
}
div.innexus-chatbot .chatbot-container .chatbot-page .chatbot-response {
  margin-top: 14px;
  margin-bottom: 20px;
}
div.innexus-chatbot .chatbot-container .chatbot-page.hours {
  background-color: whitesmoke;
  z-index: 1;
  text-align: left;
}
div.innexus-chatbot .chatbot-container .chatbot-page.hours p.chatbot-response {
  margin-top: 10px;
  margin-bottom: 10px;
}
div.innexus-chatbot .chatbot-container .chatbot-page.hours #hours.hours.snippet {
  font-size: 14px;
}
div.innexus-chatbot .chatbot-container .chatbot-page.hours #hours.hours.snippet ul.day {
  text-align: left;
}
div.innexus-chatbot .chatbot-container .chatbot-page.hours .hours-additional-notes {
  font-size: 14px;
  line-height: 1.3em;
}
div.innexus-chatbot .chatbot-container .chatbot-page.hours a.chatbot-button {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
div.innexus-chatbot .chatbot-container .chatbot-page.contact_us {
  text-align: left;
  background-color: whitesmoke;
  z-index: 1;
}
div.innexus-chatbot .chatbot-container .chatbot-page.contact_us > * {
  text-align: left;
}
div.innexus-chatbot .chatbot-container .chatbot-page.contact_us p.chatbot-response {
  margin-top: 10px;
  margin-bottom: 10px;
}
div.innexus-chatbot .chatbot-container .chatbot-page.contact_us a.chatbot-button {
  text-align: center;
  position: absolute;
  bottom: 46px;
  left: 0;
}
div.innexus-chatbot .chatbot-container .chatbot-page.contact_us a.chatbot-button.two {
  bottom: 0;
}
div.innexus-chatbot .chatbot-container .chatbot-page.contact_us a {
  text-decoration: none;
}
div.innexus-chatbot .chatbot-container .chatbot-page.request_appointment.active {
  transform: translateX(0);
  background-color: whitesmoke;
  z-index: 1;
}
div.innexus-chatbot .chatbot-container .chatbot-page.multi_hours.active {
  transform: translateX(0);
  background-color: whitesmoke;
  z-index: 1;
}
div.innexus-chatbot .chatbot-container .chatbot-page.contact_us.active {
  transform: translateX(0);
  background-color: whitesmoke;
  z-index: 1;
}
div.innexus-chatbot .chatbot-container .chatbot-page.online_patient_forms.active {
  transform: translateX(0);
  background-color: whitesmoke;
  z-index: 1;
}
div.innexus-chatbot .chatbot-container .chatbot-page.multi_contact_us.active {
  transform: translateX(0);
  background-color: whitesmoke;
  z-index: 1;
}
div.innexus-chatbot .chatbot-container .chatbot-page.hours.active {
  transform: translateX(0);
  background-color: whitesmoke;
  z-index: 1;
}
div.innexus-chatbot .chatbot-container .chatbot-page .chatbot-page-back {
  text-align: left;
  cursor: pointer;
}
div.innexus-chatbot .chatbot-container div.chatbot-button.moreOptions,
div.innexus-chatbot .chatbot-container .chatbot-page div.chatbot-button.moreOptions {
  position: absolute;
  bottom: -1px;
  left: 0;
}
div.innexus-chatbot .chatbot-close {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: #eee;
  width: 30px;
  height: 30px;
  transform: scale(0, 0);
  border-radius: 999px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.6);
  z-index: 999;
}
div.innexus-chatbot .chatbot-close i.fa-times {
  font-size: 18px;
  position: relative;
  top: 5.05px;
  left: 8.6px;
  cursor: pointer;
}
div.innexus-chatbot .chatbot-close.active {
  transform: scale(1, 1);
}
div.innexus-chatbot .chatbot-close.place_left {
  left: auto;
  right: -12px;
}
div.innexus-chatbot .chatbot-icon {
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background-color: #eee;
  padding: 12px;
  border-radius: 999px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.6);
  z-index: 999;
}
div.innexus-chatbot .chatbot-icon img {
  border-radius: 999px;
  transform: scale(1.15);
}
div.innexus-chatbot.active {
  right: 20px;
  /*
    &.shadow:after {
      right: 20px;
    }
*/
}
@media (min-width: 350px) {
  div.innexus-chatbot {
    /*
    &.shadow:after {
      right: -260px;
      width: 260px;
    }
*/
  }
}
div.innexus-chatbot.display_off {
  display: none;
}
@media (min-width: 769px) {
  div.innexus-chatbot.display_mobile {
    display: none;
  }
}
div.innexus-chatbot.place_left {
  right: auto;
  left: -300px;
  /*
    &.shadow:after {
      right: auto;
      left: -220px;
    }
*/
}
@media (min-width: 350px) {
  div.innexus-chatbot.place_left {
    /*
      &.shadow:after {
        left: -260px;
        width: 260px;
      }
*/
  }
}
div.innexus-chatbot.place_left.active {
  right: auto;
  left: 20px;
  /*
      &.shadow:after {
        right: auto;
        left: 0;
      }
*/
}
.chatbot-open {
  background-color: #ddd;
  width: 64px;
  height: 64px;
  padding: 10px;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 999px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99999;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.66);
  transform: scale(1, 1);
}
.chatbot-open img {
  border-radius: 999px;
  transform: scale(1.15);
}
.chatbot-open i {
  font-size: 2.1em;
  color: #333;
  text-align: center;
  width: 100%;
  margin-top: 1px;
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.chatbot-open i:nth-child(2) {
  display: none;
}
.chatbot-open:hover {
  background-color: #f2f2f2;
  box-shadow: 0 0 64px #000000;
}
.chatbot-open.active {
  opacity: 0;
  transform: scale(0, 0);
}
.chatbot-open.display_off {
  display: none;
}
@media (min-width: 769px) {
  .chatbot-open.display_mobile {
    display: none;
  }
}
@media (min-width: 350px) {
  .chatbot-open {
    width: 72px;
    height: 72px;
  }
  .chatbot-open i {
    font-size: 2.5em;
    margin-top: 2px;
  }
}
.chatbot-open.place_left {
  right: auto;
  left: 20px;
}
.chatbot-open.place_left.bounce {
  animation: wait-left 3.33s forwards, bounce 15s infinite;
}
.chatbot-open.place_right {
  left: auto;
  right: 20px;
}
.chatbot-open.place_right.bounce {
  animation: wait-right 3.33s forwards, bounce 15s infinite;
}
@keyframes wait-left {
  0% {
    left: -100%;
    transform: scale(0, 0);
  }
  80% {
    left: -100%;
    transform: scale(0, 0);
  }
  99% {
    left: 20px;
    transform: scale(1, 1);
  }
}
@keyframes wait-right {
  0% {
    right: -100%;
    transform: scale(0, 0);
  }
  80% {
    right: -100%;
    transform: scale(0, 0);
  }
  99% {
    right: 20px;
    transform: scale(1, 1);
  }
}
@keyframes bounce {
  0% {
    bottom: 20px;
    right: 20px;
  }
  2% {
    bottom: 30px;
    right: 20px;
  }
  3% {
    bottom: 20px;
    right: 20px;
  }
  5% {
    bottom: 23px;
    right: 20px;
  }
  6% {
    bottom: 20px;
    right: 20px;
  }
}
div.innexus-mobile {
  background-color: #eee;
  width: 220px;
  height: auto;
  display: block;
  position: fixed;
  padding-top: 14px;
  bottom: 40px;
  border-radius: 10px 0 0 0;
  right: -220px;
  z-index: 99999;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-height: 425px;
  min-height: 55px;
  overflow-x: visible;
  overflow-y: scroll;
}
div.innexus-mobile .location-container {
  padding: 0 20px 20px 20px;
}
div.innexus-mobile .location-container p.location-name {
  text-align: left;
  border-bottom: 1px solid #333;
  margin-bottom: 0.8em;
  color: #333;
}
div.innexus-mobile .location-container p.location-name:last-child {
  margin-bottom: 0;
}
div.innexus-mobile .location-container ul.location-info {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
div.innexus-mobile .location-container ul.location-info li {
  display: inline-block;
  margin: 0 5% 0 0;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  padding: 2px 0 0 0;
  background-color: #f5f5f5;
  -webkit-box-shadow: 1px 1px 1px #ddd;
  box-shadow: 1px 1px 1px #ddd;
}
div.innexus-mobile .location-container ul.location-info li:hover {
  background-color: #f8f8f8;
}
div.innexus-mobile .location-container p,
div.innexus-mobile .location-container a {
  display: block;
  margin: 0;
  text-align: center;
  text-decoration: none;
}
div.innexus-mobile .location-container.two ul.location-info li,
div.innexus-mobile .location-container.three ul.location-info li,
div.innexus-mobile .location-container.appt_three ul.location-info li {
  width: 47%;
}
div.innexus-mobile .location-container.three ul.location-info li,
div.innexus-mobile .location-container.appt_two ul.location-info li,
div.innexus-mobile .location-container.appt_four ul.location-info li {
  width: 30%;
}
div.innexus-mobile .location-container.appt_two ul.location-info li {
  margin: 0 5% 0 0;
}
div.innexus-mobile .location-container.appt_two ul.location-info li:last-child {
  width: 60%;
}
div.innexus-mobile .location-container.appt_three ul.location-info li:nth-child(2) {
  margin-right: 0;
}
div.innexus-mobile .location-container.appt_four ul.location-info li:nth-child(3) {
  margin-right: 0;
}
div.innexus-mobile .location-container ul.location-info li:last-child {
  margin-right: 0;
}
div.innexus-mobile .location-container.one ul.location-info li:last-child,
div.innexus-mobile .location-container.appt_one ul.location-info li:last-child,
div.innexus-mobile .location-container.appt_three ul.location-info li:last-child,
div.innexus-mobile .location-container.appt_four ul.location-info li:last-child {
  width: 100%;
}
div.innexus-mobile .location-container.appt_three ul.location-info li,
div.innexus-mobile .location-container.appt_four ul.location-info li {
  margin-bottom: 5%;
}
div.innexus-mobile.shadow:after {
  width: 220px;
  height: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  display: block;
  overflow: visible;
  visibility: visible;
  position: fixed;
  bottom: 40px;
  right: -220px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: '';
}
div.innexus-mobile.active {
  right: 0;
}
div.innexus-mobile.active.shadow:after {
  right: 0;
}
@media (min-width: 350px) {
  div.innexus-mobile {
    width: 260px;
    right: -260px;
  }
  div.innexus-mobile.shadow:after {
    right: -260px;
    width: 260px;
  }
}
div.innexus-mobile.display_off {
  display: none;
}
@media (min-width: 769px) {
  div.innexus-mobile.display_mobile {
    display: none;
  }
}
div.innexus-mobile.place_left {
  right: auto;
  left: -220px;
  border-radius: 0 10px 0 0;
}
div.innexus-mobile.place_left.shadow:after {
  right: auto;
  left: -220px;
}
@media (min-width: 350px) {
  div.innexus-mobile.place_left {
    width: 260px;
    left: -260px;
  }
  div.innexus-mobile.place_left.shadow:after {
    left: -260px;
    width: 260px;
  }
}
div.innexus-mobile.place_left.active {
  right: auto;
  left: 0;
}
div.innexus-mobile.place_left.active.shadow:after {
  right: auto;
  left: 0;
}
.location-toggle {
  background-color: #ddd;
  width: 55px;
  height: 55px;
  padding: 10px;
  display: block;
  position: fixed;
  bottom: 40px;
  right: 0;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99999;
}
.location-toggle i {
  font-size: 2.1em;
  color: #333;
  text-align: center;
  width: 100%;
  margin-top: 1px;
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.location-toggle i:nth-child(2) {
  display: none;
}
.location-toggle:hover {
  background-color: #ccc;
}
.location-toggle.active {
  right: 220px;
}
.location-toggle.active i {
  display: none;
}
.location-toggle.active i:nth-child(2) {
  display: block;
}
.location-toggle.display_off {
  display: none;
}
@media (min-width: 769px) {
  .location-toggle.display_mobile {
    display: none;
  }
}
@media (min-width: 350px) {
  .location-toggle {
    width: 65px;
    height: 65px;
  }
  .location-toggle i {
    font-size: 2.5em;
    margin-top: 2px;
  }
  .location-toggle.active {
    right: 260px;
  }
}
.location-toggle.place_left {
  right: auto;
  left: 0;
  border-radius: 0 10px 10px 0;
}
.location-toggle.place_left.active {
  right: auto;
  left: 220px;
}
@media (min-width: 350px) {
  .location-toggle.place_left.active.active {
    left: 260px;
  }
}
